<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<h1>Current Network Settings</h1>

<table>
  <tr>
    <th>Latency</th>
    <th>Jitter</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% network = @networks.last %>
  <tr>
    <td><%= network.latency %></td>
    <td><%= network.jitter %></td>
    <td><%= network.date %></td>
  </tr>
</table>
<br />

<h1>Change Network Settings</h1>
<% form_tag("/networks", :method => "get") do %>
  <label for="latency">Latency (in seconds): </label>
  <%= text_field_tag :latency %>
  <br>
  <label for="jitter">Jitter (true or false): </label>
  <%= text_field_tag :jitter %>
  <br>
 <%= submit_tag "Submit" %>
<% end %>
<br>

<% p = Network.new(:latency => params[:latency].to_i, :jitter => params[:jitter], :date => Time.now) %>
<% p.save %>

