<p id="notice"><%= notice %></p>

<p>
  <b>Latency:</b>
  <%= @network.latency %>
</p>

<p>
  <b>Jitter:</b>
  <%= @network.jitter %>
</p>

<p>
  <b>Date:</b>
  <%= @network.date %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
