<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>  
<% end %>
<%= "Took #{Time.now - @start_time_in_controller} seconds to load." %>
<%= p = Loadtime.new(:loadtime => (Time.now - @start_time_in_controller), :page => "about", :date => Time.now) %>
<%= p.save %>
