<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<h1>Listing loadtimes</h1>

<% x = 0 %>
<% @loadtimes.each do |loadtime| %>
  <% x = x + loadtime.loadtime %>
<% end %>
<% x = x / @loadtimes.size %>
<h4> Average total loadtime: <%= x %> seconds </h4>

<table>
  <tr>
    <th>Loadtime</th>
    <th>Page</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Loadtime.find(:all, :order => "id desc", :limit => 50).each do |loadtime| %>
  <tr>
    <td><%= loadtime.loadtime %></td>
    <td><%= loadtime.page %></td>
    <td><%= loadtime.date %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loadtime', new_loadtime_path %>
