<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Loadtime:</b>
  <%= @loadtime.loadtime %>
</p>

<p>
  <b>Page:</b>
  <%= @loadtime.page %>
</p>

<p>
  <b>Date:</b>
  <%= @loadtime.date %>
</p>


<%= link_to 'Edit', edit_loadtime_path(@loadtime) %> |
<%= link_to 'Back', loadtimes_path %>
